{% extends 'base.html' %}
{% load static %}
{% block titulo %}Comprar {{ articulo }}{% endblock %}
{% block contenido %}
    <main class="container">
        <div class="row">
            <div class="col-4">
                {% if articulo.foto %}
                <img src="{{ articulo.foto.url }}" alt="{{ articulo.nombre }}" style="width: 100%">
                {% else %}
                <img src="{% static 'compraventa/no-foto.jpg' %}" alt="Artículo sin foto"  style="width: 100%">
                {% endif %}
            </div>
            <div class="col-8">
                <h1>¿Deseas comprar {{ articulo.nombre }}?</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-success" type="submit" value="Sí, Comprar">
                    <a href="{% url 'detalle_articulo' articulo.id %}" class="btn btn-danger">No, Cancelar</a>
                </form>
            </div>
        </div>

    </main>
{% endblock %}