{% extends 'base.html' %}
{% load static %}
{% block titulo %}Artículos en venta{% endblock %}
{% block contenido %}
<h1>Artículos en venta</h1>

<main class="container">
    <div class="row">
        {% for articulo in articulos %}
        <article class="col-4 px-2 my-3">
            <div class="card">
                {% if articulo.foto %}
                <img src="{{ articulo.foto.url }}" alt="" class="card-img-top">
                {% else %}
                <img src="{% static 'compraventa/no-foto.jpg' %}" alt="" class="card-img-top">
                {% endif %}    
                <div class="card-body">
                    <h2>{{ articulo.nombre }}</h2>
                    <strong>{{ articulo.precio }}</strong>
                    <p>Publicado con fecha {{ articulo.fecha_publicacion }}</p>
                    <a href="{% url 'detalle_articulo' articulo.id %}">Ver detalle</a>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</main>

<a href="{% url 'publicar_oferta' %}">Publica tu articulo</a>
{% endblock %}
